<section class="has-bg p-0 d-flex main-hero" style="background-image: url(https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/hero-cart.jpg);">
  <div class="caption-holder">
    <h2>Log In</h2>
  </div>
</section>
<!-- end section -->

<section class="subpage pb-0">
  <figure class="subsection">
    <div class="container">
      <div class="section-body mx-auto" style="max-width: 600px;">
        <div class="form-area">
          {%- form 'customer_login', novalidate: 'novalidate' -%}
            <div class="form-group">
              <label for="">Email</label>
              <input type="email" name="email" class="form-control" placeholder="Email Address">
            </div>
            <div class="form-group">
              <label for="">Password</label>
              <input type="password" class="form-control">
            </div>
            <div class="form-group mt-4 text-center">
              <button>
                {{ 'customer.login_page.submit' | t }}
              </button>
              {% comment %}<input type="submit" class="btn btn-site" value="">{% endcomment %}
            </div>
            <p class="text-center"><a href="#">Forgot your password?</a></p>
          {%- endform -%}
        </div>
      </div>
    </div>
  </figure>
  <figure class="sub-section bg-light border-top border-bottom mb-5">
    <div class="container">
      <div class="section-body pt-5 text-center">
        <div class="wrapper mx-auto" style="max-width: 600px; min-height: 300px; display: flex; justify-content: center; align-items: center; flex-direction: column">
          <h2 style="color: var(--main-color)">New Customers?</h2>
          <p>Sign up for an account to take advantage of order tracking and history as well as pre-filled forms during checkout on subsequent orders.</p>
          <a href="{{ routes.account_register_url }}" class="btn btn-site mt-4">Register</a>
        </div>
      </div>
    </div>
  </figure>
</section>
