<section class="bg-sec section-dark" id="index-intro">
    <div class="container">
        <div class="section-header text-md-center aniview" av-animation="fadeInUp">
            <h2>About Mist Valley</h2>
        </div>
        <div class="section-body text-md-center mx-auto aniview" style="max-width: 800px" av-animation="fadeInUp">
            <p>At Mist Valley, we are proud to call ourselves guardians of tea’s artisan heritage and that passion is reflected in the exceptional quality of our teas. Each Mist Valley tea is carefully curated by a Master of Tea and is 100% natural and free of synthetic flavours.</p>
            <a href="about-us.php" class="btn btn-site">Read More</a>
        </div>
    </div>
</section>
<!-- end section -->
<section class="p-0" id="index-overlay-section">
    <div class="container px-0 px-lg-3">
        <div class="section-body text-center aniview" av-animation="zoomIn">
            <img src="https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/img-1.jpg" alt="">
        </div>
    </div>
</section>
