<section class="subpage pb-0">
  <figure class="subsection">
    <div class="container">
      <div class="section-body">
        <div class="row">
          <div class="col-md-6 col-lg-7">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3961.014115963509!2d79.86255751510144!3d6.888912020717779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae25bd016c4e491%3A0xea3f3843058deda6!2s119%2C%205%20Mallika%20Pl%2C%20Colombo%2000500%2C%20Sri%20Lanka!5e0!3m2!1sen!2sus!4v1608016115791!5m2!1sen!2sus" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
          </div>
          <div class="col-md-6 col-lg-5">
            <h1>Wilmar Tea Lanka PVT Ltd</h1>
            <address>450, Thimbirigasyaya Road,<br/>Colombo 05, Sri Lanka.<br/><br/>
              <strong>Phone</strong><br/>
              +94112590146-8<br/><br/>
              <strong>Email Address</strong><br/>
              wtea-sales@lk.wilmar-intl.com
            </address>
          </div>
        </div>
      </div>
    </div>
  </figure>
  <figure class="subsection">
    <div class="container">
      <div class="section-header text-center">
        <h2>Enquiry</h2>
      </div>
      {%- form 'contact', id: 'ContactForm' -%}
      {%- if form.posted_successfully? -%}
      <div class="form-status form-status-list form__message" tabindex="-1" autofocus>{% render 'icon-success' %} {{ 'templates.contact.form.post_success' | t }}</div>
      {%- endif -%}
      <div class="section-body mx-auto" style="max-width: 650px;">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <input name="contact[name]" type="text" class="form-control" placeholder="Name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <input name="contact[email]" type="email" class="form-control" placeholder="Email">
            </div>
          </div>
        </div>
        <div class="form-group">
          <input  name="contact[phone]"type="text" class="form-control" placeholder="Phone">
        </div>
        <div class="form-group">
          <textarea nname="contact[message]" id="" rows="5" class="form-control" placeholder="Message"></textarea>
        </div>
        <div class="row mt-5">
          <div class="col-md-6"></div>
          <div class="col-md-6 text-right">
            <button type="submit" class="button">
              {{ 'templates.contact.form.send' | t }}
            </button>
            <!--
                      <input type="submit" value="Submit Now" class="btn btn-site">
                      -->
          </div>
        </div>
      </div>
      {%- endform -%}
    </div>
  </figure>
