

    <div class="header-topbar">
      <div class="site-tools">
        <ul>
          <li><a href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}" title="Login/Sign Up"><i class="material-icons-outlined"> account_circle </i></a></li>
          <li><a href="javascript:void(0)" id="customToggleCart" data-offcanvas-trigger="off-canvas-right-push"><i class="material-icons-outlined"> shopping_cart </i><i class="cart-number">
                {{ cart.item_count }}
              </i></a></li>

          <li><a class="mobile-menu-toggle js-toggle-menu hamburger-menu" href="javascript:void(0)" data-offcanvas-trigger="main-nav-mobile"> <span class="menu-item"></span> <span class="menu-item"></span> <span class="menu-item"></span> </a></li>

        </ul>




      </div>
    </div>


    <script>
      function reload_header(){
        let path = window.location.href.split('?')[0]
        $.ajax({
                  timeout: 10000,
                  url: path+'?section_id=header',
                  dataType: 'html',
                  success: function (html, status, request) {
                    $("#shopify-section-header").replaceWith(html);
                    $( document ).bind( "beforecreate.offcanvas", function( e ){
                      var dataOffcanvas = $( e.target ).data('offcanvas-component');
                      console.log(dataOffcanvas);
                      dataOffcanvas.onInit =  function() {
                        console.log(this);
                      };
                    } );

                    $( document ).bind( "create.offcanvas", function( e ){
                      var dataOffcanvas = $( e.target ).data('offcanvas-component');
                      console.log(dataOffcanvas);
                      dataOffcanvas.onOpen =  function() {
                        console.log('Callback onOpen');
                      };
                      dataOffcanvas.onClose =  function() {
                        console.log('Callback onClose');
                      };
                    });

                    $( document ).bind( "clicked.offcanvas-trigger clicked.offcanvas", function( e ){
                      var dataBtnText = $( e.target ).text();
                      console.log(e.type + '.' + e.namespace + ': ' + dataBtnText);
                    } );

                    $( document ).bind( "open.offcanvas", function( e ){
                      var dataOffcanvasID = $( e.target ).attr('id');
                      console.log(e.type + ': #' + dataOffcanvasID);
                    } );

                    $( document ).bind( "resizing.offcanvas", function( e ){
                      var dataOffcanvasID = $( e.target ).attr('id');
                      console.log(e.type + ': #' + dataOffcanvasID);
                    } );

                    $( document ).bind( "close.offcanvas", function( e ){
                      var dataOffcanvasID = $( e.target ).attr('id');
                      console.log(e.type + ': #' + dataOffcanvasID);
                    } );

                    $( '.js-open' ).bind( "create.offcanvas", function( e ){
                      var dataOffcanvas = $(this).data('offcanvas-component');
                      setTimeout(function(){
                        //dataOffcanvas.open();
                      }, 200);
                    } );

                    $( document ).bind( "beforecreate.offcanvas", function( e ){
                      var $offcanvas = $( e.target ),
                              api = $offcanvas.data('offcanvas-component');



                      function onFocusIn() {
                        console.log('onFocusIn');
                        api.options.resize = false;
                        console.log(api.options.resize);
                        $(window).off('resize.offcanvas orientationchange.offcanvas');
                      }

                      function onFocusOut() {
                        console.log('onFocusOut');
                        api.options.resize = true;
                        console.log(api.options.resize);
                        $(window).on('resize.offcanvas orientationchange.offcanvas');
                        api.resize();
                      }

                      $offcanvas.on('focusin', 'input,textarea', onFocusIn)
                              .on('focusout', 'input,textarea', onFocusOut);
                    });


                    // Trigger Enhance
                    $( document ).trigger( "enhance" );


                  },
                  error: function (xhr, ajaxOptions, thrownError) {


                  }
                }
        )
      }
    </script>




{% schema %}
{
  "name": "t:sections.header.name",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.header.settings.color_scheme.options__1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.header.settings.color_scheme.options__2.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.header.settings.color_scheme.options__3.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.header.settings.color_scheme.options__4.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.header.settings.color_scheme.options__5.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.header.settings.color_scheme.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 250,
      "step": 10,
      "default": 100,
      "unit": "t:sections.header.settings.logo_width.unit",
      "label": "t:sections.header.settings.logo_width.label"
    },
    {
      "type": "select",
      "id": "logo_position",
      "options": [
        {
          "value": "middle-left",
          "label": "t:sections.header.settings.logo_position.options__1.label"
        },
        {
          "value": "top-left",
          "label": "t:sections.header.settings.logo_position.options__2.label"
        },
        {
          "value": "top-center",
          "label": "t:sections.header.settings.logo_position.options__3.label"
        }
      ],
      "default": "middle-left",
      "label": "t:sections.header.settings.logo_position.label"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "default": true,
      "label": "t:sections.header.settings.enable_sticky_header.label",
      "info": "t:sections.header.settings.enable_sticky_header.info"
    }
  ]
}
{% endschema %}
