<section class="has-bg p-0 d-flex main-hero"
         style="background-image: url(https://cdn.shopify.com/s/files/1/0598/2765/0750/files/hero-generic.jpg?v=1653030856);">
    <div class="caption-holder">
        <h2>{{ page.title | escape }}</h2>
    </div>
</section>
<section>

    {{ page.content }}

</section>

{% schema %}
{
"name": "t:sections.main-page.name",
"tag": "section",
"class": "spaced-section"
}
{% endschema %}
