<section class="has-bg p-0 d-flex main-hero"
         style="background-image: url(https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/hero-generic.jpg);">
    <div class="caption-holder">
        <h2>{{ page.title | escape }}</h2>
    </div>
</section>
<section>

    {{ page.content }}

</section>

{% schema %}
{
"name": "t:sections.main-page.name",
"tag": "section",
"class": "spaced-section"
}
{% endschema %}
