<section class="subpage pb-0">
    <figure class="subsection">
        <div class="container">
            <div class="section-header mx-auto text-md-center" style="max-width: 800px">
                <h2>Wilmar Tea</h2>
            </div>
            <div class="section-body mx-auto text-md-center" style="max-width: 800px">
                <p>Wilmar Tea is a leading purveyor of the finest quality teas. Our Mist Valley range offers a curated selection of 100% natural teas crafted by dedicated masters who pour their expertise into honouring the traditional origins of pure tea from the finest tea growing regions of the world. We have bases in China — the birthplace of tea — and Sri Lanka, the home of Ceylon tea, where our team of expert professionals work together to share their passion for pure tea with our customers around the world.</p>
            </div>
        </div>
    </figure>
    <figure class="subsection bg-light mb-5">
        <div class="container">
            <div class="section-header text-center">
                <h2>Our Brands</h2>
            </div>
            <div class="section-body mt-5">
                <div class="section-body">
                    <div class="row d-flex list-style-icon-circle">
                        <div class="col-6 col-lg-3 text-center">
                            <div class="img-holder aniview" av-animation="fadeInUp">
                                <div class="img-holder">
                                    <div class="outter-ring"><img src="https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/icon-leaf.png" alt=""></div>
                                </div>
                                <div class="caption-holder">
                                    <p>100% Natural & free of synthetic flavours</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 text-center">
                            <div class="img-holder aniview delay2" av-animation="fadeInUp">
                                <div class="img-holder">
                                    <div class="outter-ring"><img src="https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/icon-teabags.png" alt=""></div>
                                </div>
                                <div class="caption-holder">
                                    <p>Eco-friendly packaging</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-6 col-lg-3 text-center">
                            <div class="img-holder aniview delay3" av-animation="fadeInUp">
                                <div class="img-holder">
                                    <div class="outter-ring"><img src="https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/icon-crown.png" alt=""></div>
                                </div>
                                <div class="caption-holder">
                                    <p>Curated by Teamasters</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 text-center">
                            <div class="img-holder aniview delay4" av-animation="fadeInUp">
                                <div class="img-holder">
                                    <div class="outter-ring"><img src="https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/icon-coffee-maker.png" alt=""></div>
                                </div>
                                <div class="caption-holder">
                                    <p>Preserving the Origins of Tea</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </figure>
    <figure class="subsection mainsec-subscribe pt-0">
        <div class="container">
            <div class="section-body">
                <div class="subscribe-box">
                    <div class="img-holder" style="background-image: url(https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/bg-subscribe-box.jpg);"></div>
                    <div class="caption-holder">
                        <h2 class="mb-2">Subscribe Our Newsletter</h2>
                        <p>Sign up for our newsletter</p>
                        <form action="" class="form-subscribe">
                            <div class="input-group mb-3">
                                <input type="email" class="form-control" placeholder="Email Address" aria-label="Email Address" aria-describedby="button-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-site" type="button" id="button-addon2">SIGNUP</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </figure>
    <figure class="subsection has-parallax has-bg mb-0" style="background-image: url(https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/bg-footer-parallax-1.jpg);"></figure>
</section>
