<section class="subpage pb-0">
    <figure class="subsection">
        <div class="container">
            <div class="section-header text-center">
                <h2>Why Our Teas Are Special</h2>
            </div>
            <!--
            <div class="section-body mt-5">
                <div class="section-body">
                    <div class="row d-flex list-style-icon-circle">
                        <div class="col-6 col-lg-3 text-center">
                            <div class="img-holder aniview" av-animation="fadeInUp">
                                <div class="img-holder">
                                    <div class="outter-ring"><img src="https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/icon-leaf.png" alt=""></div>
                                </div>
                                <div class="caption-holder">
                                    <p>100% Natural & free of synthetic flavours</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 text-center">
                            <div class="img-holder aniview delay2" av-animation="fadeInUp">
                                <div class="img-holder">
                                    <div class="outter-ring"><img src="https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/icon-teabags.png" alt=""></div>
                                </div>
                                <div class="caption-holder">
                                    <p>Eco-friendly packaging</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-6 col-lg-3 text-center">
                            <div class="img-holder aniview delay3" av-animation="fadeInUp">
                                <div class="img-holder">
                                    <div class="outter-ring"><img src="https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/icon-crown.png" alt=""></div>
                                </div>
                                <div class="caption-holder">
                                    <p>Curated by Teamasters</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 text-center">
                            <div class="img-holder aniview delay4" av-animation="fadeInUp">
                                <div class="img-holder">
                                    <div class="outter-ring"><img src="https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/icon-coffee-maker.png" alt=""></div>
                                </div>
                                <div class="caption-holder">
                                    <p>Preserving the Origins of Tea</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </figure>
</section>
