<section class="subpage pb-0">
    <figure class="subsection">
        <div class="container">
            <div class="section-header text-center">
                <h2>Why Our Teas Are Special</h2>
            </div>
            <!--
            <div class="section-body mt-5">
                <div class="section-body">
                    <div class="row d-flex list-style-icon-circle">
                        <div class="col-6 col-lg-3 text-center">
                            <div class="img-holder aniview" av-animation="fadeInUp">
                                <div class="img-holder">
                                    <div class="outter-ring"><img src="https://cdn.shopify.com/s/files/1/0598/2765/0750/files/icon-leaf_5014beda-d800-4365-8ca4-87fa677d8a20.png?v=1653030596" alt=""></div>
                                </div>
                                <div class="caption-holder">
                                    <p>100% Natural & free of synthetic flavours</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 text-center">
                            <div class="img-holder aniview delay2" av-animation="fadeInUp">
                                <div class="img-holder">
                                    <div class="outter-ring"><img src="https://cdn.shopify.com/s/files/1/0598/2765/0750/files/icon-teabags_ca6ed202-150f-437c-b942-b44c74bee772.png?v=1653030596" alt=""></div>
                                </div>
                                <div class="caption-holder">
                                    <p>Eco-friendly packaging</p>
                                </div>

                            </div>
                        </div>
                        <div class="col-6 col-lg-3 text-center">
                            <div class="img-holder aniview delay3" av-animation="fadeInUp">
                                <div class="img-holder">
                                    <div class="outter-ring"><img src="https://cdn.shopify.com/s/files/1/0598/2765/0750/files/icon-crown_9b899235-26ff-4071-8a25-95860509d2e4.png?v=1653030596" alt=""></div>
                                </div>
                                <div class="caption-holder">
                                    <p>Curated by Teamasters</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-6 col-lg-3 text-center">
                            <div class="img-holder aniview delay4" av-animation="fadeInUp">
                                <div class="img-holder">
                                    <div class="outter-ring"><img src="https://cdn.shopify.com/s/files/1/0598/2765/0750/files/icon-coffee-maker_d6f1b319-de53-4eac-8436-5e82d8e7a8d6.png?v=1653030596" alt=""></div>
                                </div>
                                <div class="caption-holder">
                                    <p>Preserving the Origins of Tea</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            -->
        </div>
    </figure>
</section>
