<section class="index-quick-links p-0 overflow-hidden">
    <div class="fluid-container p-0">
        <div class="d-flex row no-gutters">
            <div class="col-md-6">
                <a href="javascript:void(0)" class="flex-item he-340">
                    <div class="bg" style="background-image: url(https://cdn.shopify.com/s/files/1/0598/2765/0750/files/cover-timing_26aa261b-1f77-4d12-9916-14c60434a5dd.jpg?v=1653030398);"></div>
                    <div class="caption-holder">
                        <h3>Timing</h3>
                        <p>We buy our teas during the peak harvesting season.</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="flex-item he-340">
                    <div class="bg" style="background-image: url(https://cdn.shopify.com/s/files/1/0598/2765/0750/files/cover-authentic-suppliers_a8208e8e-7e30-455a-94d1-03f0bd032f17.jpg?v=1653030397);"></div>
                    <div class="caption-holder">
                        <h3>Authentic Suppliers</h3>
                        <p>We buy our teas from master curators with years of experience & expertise.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="javascript:void(0)" class="flex-item he-680">
                    <div class="bg" style="background-image: url(https://cdn.shopify.com/s/files/1/0598/2765/0750/files/cover-selection-of-teas_79b5e46e-1e9e-46ed-8029-c6b082fea1d3.jpg?v=1653030398);"></div>
                    <div class="caption-holder">
                        <h3>Selection of Teas</h3>
                        <p>We select the best tea grades which are representative of the traditional leaf grades.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="d-flex row no-gutters">
            <div class="col-md-6">
                <a href="javascript:void(0)" class="flex-item he-680">
                    <div class="bg" style="background-image: url(https://cdn.shopify.com/s/files/1/0598/2765/0750/files/cover-quality_9afe4c89-9404-41d7-a351-508bf7948c3c.jpg?v=1653030398);"></div>
                    <div class="caption-holder">
                        <h3>Quality</h3>
                        <p>Our rigorous quality assurance process is from leaf to the cup, ensuring the best quality at all times.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="javascript:void(0)" class="flex-item he-340">
                    <div class="bg" style="background-image: url(https://cdn.shopify.com/s/files/1/0598/2765/0750/files/cover-special-storage_8678282d-4a1b-4c63-974a-a43580c2222d.jpg?v=1653030398);"></div>
                    <div class="caption-holder">
                        <h3>Special Storage</h3>
                        <p>Our teas are exquisite and some require special storage conditions like freezers which we are very particular about.</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="flex-item he-340">
                    <div class="bg" style="background-image: url(https://cdn.shopify.com/s/files/1/0598/2765/0750/files/cover-tea-collection_5936b8d4-0c93-474f-9166-7bee4b5e0eab.jpg?v=1653030398);"></div>
                    <div class="caption-holder">
                        <h3>Tea Collection</h3>
                        <p>Featuring teas from China, India, Sri Lanka, Nepal and Africa, our range offers a unique selection for tea connoisseurs to enjoy.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
