<section class="index-quick-links p-0 overflow-hidden">
    <div class="fluid-container p-0">
        <div class="d-flex row no-gutters">
            <div class="col-md-6">
                <a href="javascript:void(0)" class="flex-item he-340">
                    <div class="bg" style="background-image: url(https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/cover-timing.jpg);"></div>
                    <div class="caption-holder">
                        <h3>Timing</h3>
                        <p>We buy our teas during the peak harvesting season.</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="flex-item he-340">
                    <div class="bg" style="background-image: url(https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/cover-authentic-suppliers.jpg);"></div>
                    <div class="caption-holder">
                        <h3>Authentic Suppliers</h3>
                        <p>We buy our teas from master curators with years of experience & expertise.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="javascript:void(0)" class="flex-item he-680">
                    <div class="bg" style="background-image: url(https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/cover-selection-of-teas.jpg);"></div>
                    <div class="caption-holder">
                        <h3>Selection of Teas</h3>
                        <p>We select the best tea grades which are representative of the traditional leaf grades.</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="d-flex row no-gutters">
            <div class="col-md-6">
                <a href="javascript:void(0)" class="flex-item he-680">
                    <div class="bg" style="background-image: url(https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/cover-quality.jpg);"></div>
                    <div class="caption-holder">
                        <h3>Quality</h3>
                        <p>Our rigorous quality assurance process is from leaf to the cup, ensuring the best quality at all times.</p>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <a href="javascript:void(0)" class="flex-item he-340">
                    <div class="bg" style="background-image: url(https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/cover-special-storage.jpg);"></div>
                    <div class="caption-holder">
                        <h3>Special Storage</h3>
                        <p>Our teas are exquisite and some require special storage conditions like freezers which we are very particular about.</p>
                    </div>
                </a>
                <a href="javascript:void(0)" class="flex-item he-340">
                    <div class="bg" style="background-image: url(https://www.24k.com.sg/workz/johnny/mist-valley-shop/v2/images/cover-tea-collection.jpg);"></div>
                    <div class="caption-holder">
                        <h3>Tea Collection</h3>
                        <p>Featuring teas from China, India, Sri Lanka, Nepal and Africa, our range offers a unique selection for tea connoisseurs to enjoy.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
